@media screen and (min-width: 500px) {
    
    /* Invert header colors for wide view */
    header {
        background-color: #000000;
        color: #ffffff;
    }

    /* Transition layout from 1 column to 2 equal columns */
    main {
        grid-template-columns: 1fr 1fr;
    }
    
}